
body{
	font-family: sans-serif;
	font-size: 1.4em;
}


/* id rules
--------------------*/
#sheet{
    width: 950px;
    height: auto;
	display: block;
}


#dragonType{
    position:absolute;
    top: 70px;
    left: 180px;
	font-size: 1.1em;
    font-weight: bold;
}

#dragonSpeed{
    position:absolute;
    top: 235px;
    left: 100px;
	font-size: 0.8em;
    font-weight: bold;
}

#dragonDailyBreath{
    position:absolute;
    top: 235px;
    left: 350px;
	font-size: 0.8em;
    font-weight: bold;
}


#dragonAge{
    position:absolute;
    top: 235px;
    left: 465px;
	font-size: 0.8em;
    font-weight: bold;
}

#dragonAttackBonus{
    position:absolute;
    top: 303px;
    left: 125px;
	font-size: 1.1em;
    font-weight: bold;
}


#dragonAttackTypes{
    position:absolute;
    top: 340px;
    left: 45px;
	font-size: 0.7em;
    font-weight: bold;
}


#dragonHD{
    position:absolute;
    top: 627px;
    left: 850px;
	font-size: 0.9em;
    font-weight: bold;
}


#dragonHitPoints{
    position:absolute;
    top: 560px;
    left: 860px;
	font-size: 1.2em;
    font-weight: bold;
}


#dragonAC{
    position:absolute;
    top: 255px;
    left: 755px;
	font-size: 1.8em;
    font-weight: bold;
}


#dragonFort{
    position:absolute;
    top: 260px;
    left: 845px;
	font-size: 1.5em;
    font-weight: bold;
    color: white;
}



#dragonWill{
    position:absolute;
    top: 365px;
    left: 755px;
	font-size: 1.5em;
    font-weight: bold;
    color: white;
}

#dragonRef{
    position:absolute;
    top: 365px;
    left: 845px;
	font-size: 1.5em;
    font-weight: bold;
}

#spellLabelLevel1{
    position:absolute;
    top: 590px;
    left: 60px;
	font-size: 0.9em;
    font-weight: bold;
}

#spellLabelLevel2{
    position:absolute;
    top: 640px;
    left: 60px;
	font-size: 0.9em;
    font-weight: bold;
}


#spellLabelLevel3{
    position:absolute;
    top: 690px;
    left: 60px;
	font-size: 0.9em;
    font-weight: bold;
}



#spellCheckLevel1{
    position:absolute;
    top: 590px;
    left: 135px;
	font-size: 0.9em;
    font-weight: bold;
}

#spellCheckLevel2{
    position:absolute;
    top: 640px;
    left: 135px;
	font-size: 0.9em;
    font-weight: bold;
}


#spellCheckLevel3{
    position:absolute;
    top: 690px;
    left: 135px;
	font-size: 0.9em;
    font-weight: bold;
}



#spellListLevel1{
    position:absolute;
    top: 590px;
    left: 255px;
	font-size: 0.7em;
    font-weight: bold;
    width: 450px;
}


#spellListLevel2{
    position:absolute;
    top: 640px;
    left: 255px;
	font-size: 0.7em;
    font-weight: bold;
    width: 450px;
}

#spellListLevel3{
    position:absolute;
    top: 690px;
    left: 255px;
	font-size: 0.7em;
    font-weight: bold;
    width: 450px;
}

