
body{
	font-family: sans-serif;
	font-size: 1.4em;
}


/* id rules
--------------------*/
#sheet{
    width: 950px;
    height: auto;
	display: block;
}


#dragonType{
    position:absolute;
    top: 70px;
    left: 200px;
	font-size: 1.1em;
    font-weight: bold;
}
